.heading{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
